<div class="wrapper">
  <TopNavbar />

  <div class="container">
    <main>
      <div class="py-5 text-center">
        <h1>Checkout form</h1>
        <p class="lead"></p>
      </div>

      <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Your cart</span>
            <span class="badge bg-primary rounded-pill">{{count}}</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm" v-for="(item, i) in cart" :key="i">
              <!-- {{item}} -->
              <div>
                <h6 class="my-0">{{item.buku.judul}}</h6>
                <small class="text-muted">{{item.penulis}}</small>
              </div>
              <span class="text-muted"><span v-if="item.jumlah > 1">{{item.jumlah}}x</span> Rp. {{item.buku.harga}}</span>
              <input
                  type="number" class="form-control "
                   :value="item.jumlah" @input=" item.jumlah = $event, editChart(item)"
                  @click:prepend= "item.jumlah--; editChart(item)" @click:append-outer=" item.jumlah++; editChart(item)"/>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Rp. ({{cart.reduce((total,x) => total + (x.jumlah * x.buku.harga),0)}})</span>
            </li>
          </ul>

        </div>
          <form class="needs-validation" novalidate="">
            <button class="btn btn-primary btn-lg" block @click="dialog = true">Continue to checkout</button>
          </form>
      </div>
    </main>

  </div>

  <Footer />


  <div class="parallax__layer parallax__layer--3">
    <div id="stars" class="top-stars">&nbsp;</div>
  </div>

  <div class="parallax__layer parallax__layer--2"></div>

  <div class="parallax__layer parallax__layer--2"><div id="clouds" class="top-clouds">&nbsp;</div></div>

  <div class="parallax__layer parallax__layer--2" style="z-index: 1000"></div>

  <div class="parallax__layer parallax__layer--1"></div>


</div>
